#i913th {
    display: none;
}

#i713th {
    display: none;
}

#i513th {
    display: none;
}

#i912th {
    display: none;
}

#i712th {
    display: none;
}

#i512th {
    display: none;
}

#i312th {
    display: none;
    
}

#i911th {
    display: none;
}

#i711th {
    display: none;
}

#i511th {
    display: none;
}

#i311th {
    display: none;
}

#R9zen4 {
    display: none;
}

#R7zen4 {
    display: none;
}

#R5zen4 {
    display: none;
}

#R9zen3 {
    display: none;
}

#R7zen3 {
    display: none;
}

#R5zen3 {
    display: none;
}

#R3zen3 {
    display: none;
}

#R9zen2 {
    display: none;
}

#R7zen2 {
    display: none;
}

#R5zen2 {
    display: none;
}

#R3zen2 {
    display: none;
}

button {
    font-size: 20px;
}

header {
    background: #10131d; 
    width: 100%;
    font-size: 24px;
    padding-top: 10px;
}

body {
    background: #4e5054;
    text-align: center;
}

p {
    text-align: left;
    margin-left: 15px;
    font-size: 35px;
    color: white;
    padding: 25px;
    line-height: 50px;
}

nav {
    text-align: center;
    background-color: #181b2a;
    word-spacing: 60px;
    line-height: 50px;
}

nav li {
    display: inline;
    font-size: 36px;
    color: white;
}

nav a {
    color: white;
}

nav a:hover {
    color: #eda91f;
}

h1 {
    text-align: center;
    color: white;
}

h2 {
    text-align: left;
    color: white;
}

#grid-container1 {
    display: grid;
    grid-template-columns: 50% 50%;
}

#grid-container2 {
    display: grid;
    grid-template-columns: 45% 10% 45%;
}

table {
    color: white;
    font-size: 20px;
}

tr:hover, td:hover {
    background-color: #eda91f;   
}

th,td {
    border: 1px solid white;

}

footer {
    text-align: center;
    background-color: #181b2a;
    padding: 25px;
}

footer a {
    font-size: 25px;
    color: white;
    display: inline;
    padding-inline: 25px;
}

footer a:hover {
    color: #eda91f;
}

